@import "tailwindcss";
/* ===== Hide scrollbar but allow scroll ===== */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth; /* Smooth scrolling */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* ===== Button Click Animation ===== */
button:active,
a:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
}