@import "tailwindcss";
/* ===== Hide scrollbar but allow scroll ===== */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth; /* Smooth scrolling */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}